spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/whatsapp_testing
    username: username
    password: test
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: false
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:9091/realms/whatsapp-testing
  servlet:
    multipart:
      max-file-size: 50MB

springdoc:
  default-produces-media-type: application/json


application:
  file:
    uploads:
      media-output-path: ./uploads

gemini:
  api:
    key: AIzaSyBcZlq_uMD5hxqveAdOfGK4GhMQOz9cHHg